.main
  #production_page
    .pics_module
    .middle_with_citat
      .red_line
        .left_descript.cf
          %p “Наша основная задача - не просто получить кусок мяса, а дать потребителю максимально готовый к приготовлению продукт”
        .right_descript.cf
          %h1 РАЗДЕЛКА ГОВЯДИНЫ
          .beef_parts
    .middle_full_block
      %h1 НАША ПРОДУКЦИЯ
      .border_red
      .text
        %p «Мраморное» мясо, производимое компанией «Албиф» - это  Российская говядина зернового откорма. Мясо отвечает всем стандартам высококлассной говядины.
        %p Используются бычки пород Герефорд и Абердин-ангусс, для которых сотрудники компании отработали специальные рационы кормления экологическими кормами агрохолдинга ЗАО «Зерос».
        %p Продукция ООО «Албиф» заслуженно пользуется быстрорастущим  спросом у населения, в сфере ресторанного бизнеса и кафе быстрого питания, учебных и оздоровительных  учреждениях, крупных сетевых магазинах страны.
      %img.pict{:src => "/assets/production/steak-beef-tenderloin.png", :style => "width:410px; height:274px;"}