.main
  #jobs_page
    .pics_module
    .mission.about_module
      .middle_with_citat
        .red_line
          .middle_full_block
            %h1 КАРЬЕРА В КОМПАНИИ
            %p Мы предоставляем возможность начать работу в команде профессионалов, постоянно развиваться, совершенствовать знания и навыки, а также построить захватывающую карьеру в стабильно развивающейся компании.
            %p Персонал - наше ключевое конкурентное преимущество в достижении стратегических целей. Компании, поэтому основными приоритетами кадровой политики компании являются:
            %ul
              %li
                %span привлечение высококвалифицированных и молодых специалистов;
              %li
                %span предотавление возможности для потенциала и карьерного роста;
              %li
                %span обучение современным технологиям работы и управления;
              %li
                %span мотивация сотрудников на достижение результата и повышения эффективности деятельности;
              %li
                %span обеспечение соблюдения норм трудового законодательства:
      .middle_full_block.jobs_offer
        %h1 ВАКАНСИИ
        .border_red
        %p В рамках данного раздела Вы можете ознакомиться с существующими вакансиями. Задать вопросы, а также отправить свое резюме для рассмотрения можно по адресу: <a href="mailto:rabota@cv.ru">rabota@cv.ru</a>.
        %ul
          %li
            %a{:href => "#"} Руководитель отдела персонала
          %li
            %a{:href => "#"}  Технолог
          %li
            %a{:href => "#"}  Фасовщик
          %li
            %a{:href => "#"}  Кладовщик
        %p.no_mrg_top Мы будем рады ответить на Ваши вопросы и предложения.

