.main
  #jobs_page
    .pics_module
    .middle_with_citat
      .red_line
        .middle_full_block.noPd
          %h1 ВАКАНСИИИ
    .desr_module
      %h1 Название
      .profes Технолог
      %h1 Основные требования
      %p Высшее образование (профильное);
      %p Высшее образование (профильное);
      %p Опыт работы в общественном питании от 3 лет технологом;
      %p Опыт работы в качестве бариста, повара (приветствуется);
      %p Нацеленность на улучшение вкусовых качеств;
      %p Инновационный подход в работе;
      %p Уверенный пользователь ПК.
      %h1 Обязанности
      %p Разработка и утверждение новых рецептур на блюда и напитки, кондитерские и
      %p кулинарные изделия с оформление соответствующих нормативных документов
      %p (ТТК, СТП, ТУ);
      %p Разработка полного комплекта документации в соответствии с ассортиментом кафе;
      %p Проведение сертификации предприятия;
      %p Обеспечение производства технологическими картами в необходимом количестве согласно ассортименту выпускаемой продукции;
      %p Обучение и аттестация персонала по приготовлению блюд и напитков;
      %h1 Условия
      %p Условия компенсации обсуждаются с успешным кандидатом;
      %p Официальное трудоустройство по ТК РФ,  ДМС;
      %p Готовность к командировкам.
      %a.button.cf{:href => "/jobs/apply"} Заполнить анкету