#popup
  .dark_layer
  .popup_layer
    .header
      .grey_header
        %p КОСТРЕЦ
      %a.close_popup{:href => "javascript:void(0)"}
        %img{:src => "/assets/popup_close_button.png"}
    .body
      .description
        .images_block
          %img{:src => "/assets/production/popup/kostrets1.png"}
          %img{:src => "/assets/production/popup/kostrets2.png"}
        .text_block
          %p Большой кусок, состоящий из мышц, окружающих нижние позвонки и тазовую кость.
          %p Подходит для тушения и приготовления ростбифов. Из лучшей части костреца получаются вкусные бифштексы и жаркое.
      .recipe
        .text_block
          %h1 Говядина с апельсинами
          .component
            %p.title Ингредиенты
            %p мясо - 500г, морковь, лук, петрушка (корень), l ушистый перец горошком. лавровый лист, мука - 1.5 ст.л., масло растительное, апельсин - 1 шт.
          .cooking
            %p.title Приготовление
            %p Мясо обжарить, добавить воды, зелень и перец. Тушить 2-3 часа. За 30-40 минут до окончания тушения добавить 1 ст. л муки, поджаренной с маслом. К готовому мясу добавить порезанный апельсин,  Цедру апельсина нарезать соломкой, опустить на 1 минуту в кипящую воду, влить в емкость с мясом и довести до кипения.
        .images_block
          %img{:src => "/assets/production/popup/kostrets3.png"}
