.slider
  .sliderContent
    - @slider.each do |value|
      .item
        %img.slider{:src => "#{value.img_url}"}
        .text_module
          %h1
            = value.title.html_safe
          %p
            = value.description.html_safe