.main
  #welcome_page
    .top_middle
      .red_line
        .left_descript
          %p “Мясо отвечает всем стандартам высококлассной говядины. Продукция ООО «Албиф» заслуженно пользуется быстрорастущим спросом у населения.”
        .right_descript
          %h1 ПРЕДПРИЯТИЕ ООО "АЛБИФ"
          %p{:style => "margin-top:15px;"} ООО «Албиф» - сельскохозяйственное предприятие по  производству, переработке и реализации  высококачественного охлажденного мраморного мяса говядины , расположено в Хлевенском районе  Липецкой области.
          %p Действующий собственный мясокомбинат применяет только новейшие технологии переработки сырья.
          %p «Мраморное» мясо, производимое животноводческим комплексом «Албиф» - это  Российская говядина зернового откорма.
    .news_module
      %h1 НОВОСТИ
      .border_news
      %ul
        %li
          %a.hedr{:href => "javascript:void(0)"} Фермеры Липецкой области заинтересовались опытом производства мраморного мяса
          .bdy
            %a{:href => "#"}
              %img{:src => "assets/layout/news1.png"}
            %p В подразделении ООО «АЛБИФ» содержится 1800 голов, из них 1200 маточного поголовья и 600 приплода.  В сутки крупнорогатые...
          %a.ref{:href => "javascript:void(0)"} Подробнее
        %li
          %a.hedr{:href => "javascript:void(0)"} В Липецкую область завезут 7 тысяч австралийских бычков
          .bdy
            %a{:href => "#"}
              %img{:src => "assets/layout/news2.png"}
            %p Первая партия бычков абердин-ангусской породы в количестве 2,5 тысячи голов поступила сегодня в ООО «АЛБИФ» агрохолдинга...
          %a.ref{:href => "javascript:void(0)"} Подробнее
        %li
          %a.hedr{:href => "javascript:void(0)"} Продукция Липецкой компании представлена на международной выставке
          .bdy
            %a{:href => "#"}
              %img{:src => "assets/layout/news3.png"}
            %p Сегодня на площадке компании "АЛБИФ" в Хлевенском районе содержится 8 тыс. голов скота и племенное стадо....
          %a.ref{:href => "javascript:void(0)"} Подробнее