.main
  #welcome_page
    = render "partials/slider"
    .top_middle
      .red_line
        .left_descript.cf
          %p{:style => "margin-top:13px;"} Наша задача (совместно с рестораторами и профессионалами розничной торговли) - открыть для потребителя новую категорию продукта - вкусную доступную говядину, которую можно без риска положить на гриль или приготовить себе дома на ужин.
        .right_descript.cf
          %h1 ООО "АЛБИФ"
          %p{:style => "margin-top:15px;"} ООО "Албиф" - сельскохозяйственное предприятие по  производству, переработке и реализации  высококачественной охлажденной мраморной говядины, расположено в Хлевенском районе  Липецкой области.
    .news_module
      %h1 НОВОСТИ
      .border_news
      %ul
        %li.cf
          %a.hedr{:href => "/news"} Фермеры Липецкой области заинтересовались опытом производства мраморного мяса
          .bdy
            %a{:href => "/news"}
              %img{:src => "assets/layout/news1.png"}
            %p В подразделении ООО "АЛБИФ" содержится 1800 голов, из них 1200 маточного поголовья и 600 приплода.  В сутки крупнорогатые...
          %a.ref{:href => "/news"} Подробнее
        %li.cf
          %a.hedr{:href => "/news"} В Липецкую область завезут 7 тысяч австралийских бычков
          .bdy
            %a{:href => "/news"}
              %img{:src => "assets/layout/news2.png"}
            %p Первая партия бычков абердин-ангусской породы в количестве 2,5 тысячи голов поступила сегодня в ООО «АЛБИФ» агрохолдинга...
          %a.ref{:href => "/news"} Подробнее
        %li.cf
          %a.hedr{:href => "/news"} Продукция Липецкой компании представлена на международной выставке
          .bdy
            %a{:href => "/news"}
              %img{:src => "assets/layout/news3.png"}
            %p Сегодня на площадке ООО "АЛБИФ" в Хлевенском районе содержится 8 тыс. голов скота и племенное стадо....
          %a.ref{:href => "/news"} Подробнее