.main
  #news_page
    .pics_module
    .middle_with_citat
      .red_line
        .middle_full_block.noPd
          %h1 НОВОСТИ
    .a_new_block
      %h1 В Липецке обсудили перспективы развития мясного скотоводства страны
      .body
        .red_large.cf 31.05.2012
        %img.cf{:src => "/assets/news/1.png"}
        .text_block
          %p В областной администрации сегодня открылась научно-практическая конференция. В ней приняли участие представители Министерства сельского хозяйства РФ, администрации Липецкой области, известные ученые, руководители и специалисты хозяйств, занимающихся мясным скотоводством, более чем из 30 регионов Российской Федерации, представители европейских стран.
          %p В настоящее время 70% потребляемого в России «красного» мяса завозится из-за рубежа. Перед животноводами стоит важная задача снизить зависимость от поставок импортной говядины.
          %p Отрасль получила развитие с началом реализации федеральной программы по развитию мясного скотоводства. Липецкая область вошла в число восьми регионов участников программы.
    %ul.paginator
      %li
        << <a href="#"> Предыдущая новость</a>
      %li
        << <a href="/news">Все новости</a> >>
      %li.last
        <a href="#">Следующая новость</a> >>

