.main
  #contacts_page
    .pics_module
    .middle_with_citat
      .red_line
        .middle_full_block
          %h1 КОНТАКТНЫЕ ДАННЫЕ
    .text_module
      %table
        %tr
          %td Адрес:
          %td 399265, Липецкая область, Хлевенский район, х. Елец-Маланинский
        %tr
          %td Телефон:
          %td 8-(47477) 2-31-12
        %tr
          %td Факс:
          %td 8-(47477) 2-31-58
        %tr
          %td E-mail:
          %td
            %a{:href => "mailto:zakaz@lzeros.ru"} zakaz@lzeros.ru,
            %a{:href => "mailto:albeef@hlevnoe.lipetsk.ru"} albeef@hlevnoe.lipetsk.ru
    .map_module
      -#= image_tag "/assets/contacts/map.png"
      / Этот блок кода нужно вставить в ту часть страницы, где вы хотите разместить карту (начало)
      #ymaps-map-id_1362986452555243523985{:style => "width: 600px; height: 338px;"}
      %div{:style => "width: 600px; text-align: right;"}
        %a{:href => "http://api.yandex.ru/maps/tools/constructor/index.xml", :style => "color: #1A3DC1; font: 13px Arial, Helvetica, sans-serif;", :target => "_blank"} Создано с помощью инструментов Яндекс.Карт
      :javascript
        function fid_1362986452555243523985(ymaps) {
            var map = new ymaps.Map("ymaps-map-id_1362986452555243523985", {
                center: [39.11332411913175, 52.20660933806178],
                zoom: 11,
                type: "yandex#map"
            });
            map.controls
                .add("zoomControl")
                .add("mapTools")
                .add(new ymaps.control.TypeSelector(["yandex#map", "yandex#satellite", "yandex#hybrid", "yandex#publicMap"]));
            map.geoObjects
                .add(new ymaps.Placemark([39.13341045731372, 52.204620759851665], {
                    balloonContent: 'ООО "АЛБИФ"'
                }, {
                    preset: "twirl#redDotIcon"
                }));
        };
      %script{:src => "http://api-maps.yandex.ru/2.0-stable/?lang=ru-RU&coordorder=longlat&load=package.full&wizard=constructor&onload=fid_1362986452555243523985", :type => "text/javascript"}
      / Этот блок кода нужно вставить в ту часть страницы, где вы хотите разместить карту (конец)