.main
  #contacts_page
    .pics_module
    .mission.about_module
      .middle_with_citat
        .red_line
          .middle_full_block
            %h1 КОНТАКТНЫЕ ДАННЫЕ
    .text_module
      %table
        %tr
          %td Адрес:
          %td 399265, Липецкая область, Хлевенский район, х. Елец-Маланиский
        %tr
          %td Телефон:
          %td X-XXXX-X-XX-XX
        %tr
          %td Факс:
          %td X-XXXX-X-XX-XX
        %tr
          %td E-mail:
          %td hello@howareyou.com
    .map_module
      %img{:src => "assets/contacts/map.png"}