.main
  #contacts_page
    .pics_module
    .middle_with_citat
      .red_line
        .middle_full_block
          %h1 КОНТАКТНЫЕ ДАННЫЕ
    .text_module
      %table
        %tr
          %td Адрес:
          %td 399265, Липецкая область, Хлевенский район, х. Елец-Маланиский
        %tr
          %td Телефон:
          %td 8-(47477) 2-31-12
        %tr
          %td Факс:
          %td 8-(47477) 2-31-58
        %tr
          %td E-mail:
          %td zakaz@lzeros.ru
    .map_module
      %img{:src => "assets/contacts/map.png", :style => "width:865px;"}