.mission.about_module{:style => "display:block;"}
  .middle_with_citat
    .red_line
      .left_descript
        %p "Мы всегда готовы к сотрудничеству с нашими партнерами - ведь помимо умения произвести мясо очень важно его правильно доставить, выложить на полке магазина, представить в меню ресторана, объяснить гостю или покупателю особенности приготовления блюда, рассказать интересный рецепт. Только эффективная цепочка от фермы до потребителя поможет нам завоевать место в желудке российского потребителя."
      .right_descript
        %h1 МИССИЯ ПРЕДПРИЯТИЯ
        %p Наша миссия - открыть для потребителя новую категорию продукта - вкусную доступную говядину, которую можно без риска пожарить на гриле или приготовить себе дома на ужин.
        %ul.mission_position
          %li мы работаем для того, чтобы предложить покупателю продукт стабильно высокого качества
          %li мы сочетаем прочные позиции на отечественном мясном рынке, международный опыт и масштаб
          %li мы ориентированы на открытое партнерство и сотрудничество, мы прозрачны и понятны нашим клиентам
          %li мы сильны единой командой профессионалов - знания, потенциал, энергия и творчество каждого делают нашу команду сильной и уникальной.

  .two_blocks
    .video_block
      %iframe{:allowfullscreen => "true", :frameborder => "0", :height => "255", :src => @active_video[0].video_url, :width => "415"}
    .middle_full_block
      %h1 АГРОХОЛДИНГ ЗАО "ЗЕРОС"
      .border_red
      %p Компания "АЛБИФ" была создана в 2005 году, является частью аграрного холдинга ЗЕРОС. Основной целью создания бизнеса было и остается производство высококачественной говядины зернового откорма.
      %p  В основу технологии было заложена давно используемая в развитых "мясных" странах система открытого содержания скота на откормочных площадках - фидлотах.
  .three_blocks
    .middle_full_block.cart
      %p OOO "АЛБИФ" является единственным отечественным поставщиком мяса класса премиум на всей территории страны.
      = image_tag "/assets/about/cart.png"
    .middle_full_block.coins
      %p Социально ориентированная ценовая политика предприятия выгодно отличает компанию на рынке продуктов массового потребления.
      = image_tag "/assets/about/coins.png"
    .middle_full_block.handshake
      %p Предприятие поставляет мясо почти во все дошкольные учреждения области, что отражает высокий уровень социальной ответственности компании.
      = image_tag "/assets/about/handshake.png"
