.middle_with_citat{:style => "height:400px;"}
  .red_line
    .left_descript.cf{:style => "height:400px;"}
      %p "Мы всегда готовы к сотрудничеству с нашими партнерами - ведь помимо умения произвести мясо очень важно его правильно доставить, выложить на полке магазина, представить в меню ресторана, объяснить гостю или покупателю особенности приготовления блюда, рассказать интересный рецепт. Только эффективная цепочка от фермы до потребителя поможет нам завоевать место в желудке российского потребителя."
    .right_descript.cf{:style => "height:400px;"}
      %h1 МИССИЯ ПРЕДПРИЯТИЯ
      %p Наша миссия - открыть для потребителя новую категорию продукта - вкусную доступную говядину, которую можно без риска пожарить на гриле или приготовить себе дома на ужин.
      %ul.mission_position
        %li мы работаем для того, чтобы предложить покупателю продукт стабильно высокого качества
        %li мы сочетаем прочные позиции на отечественном мясном рынке, международный опыт и масштаб
        %li мы ориентированы на открытое партнерство и сотрудничество, мы прозрачны и понятны нашим клиентам
        %li мы сильны единой командой профессионалов - знания, потенциал, энергия и творчество каждого делают нашу команду сильной и уникальной.
.two_blocks
  .video_block
    %object{:height => "255", :width => "415"}
      %param{:name => "movie", :value => "http://www.youtube.com/v/wUtMDuJBl3c?version=3"}
        %param{:name => "allowFullScreen", :value => "true"}
          %param{:name => "allowscriptaccess", :value => "always"}
            %embed{:allowfullscreen => "true", :allowscriptaccess => "always", :height => "255", :src => "http://www.youtube.com/v/wUtMDuJBl3c?version=3", :type => "application/x-shockwave-flash", :width => "415"}/
  .middle_full_block
    %h1 АГРОХОЛДИНГ ЗАО "ЗЕРОС"
    .border_red
    %p Компания "АЛБИФ" была создана в 2005 году, является частью аграрного холдинга ЗЕРОС. Основной целью создания бизнеса было и остается производство высококачественной говядины зернового откорма.
    %p  В основу технологии было заложена давно используемая в развитых "мясных" странах система открытого содержания скота на откормочных площадках - фидлотах.
.three_blocks
  .middle_full_block.cart
    %p{:style => "width:237px;"} OOO "АЛБИФ" является единственным отечественным поставщиком мяса класса премиум на всей территории страны.
    %img{:src => "/assets/about/cart.png"}
  .middle_full_block.coins
    %p Социально ориентированная ценовая политика предприятия выгодно отличает компанию на рынке продуктов массового потребления.
    %img{:src => "/assets/about/coins.png"}
  .middle_full_block.handshake
    %p Предприятие поставляет мясо почти во все дошкольные учреждения области, что отражает высокий уровень социальной ответственности компании.
    %img{:src => "/assets/about/handshake.png"}

