.middle_with_citat{:style => "height:297px;"}
  .red_line
    .left_descript.cf{:style => "height:284px;"}
      %p “Весь технологический процесс от поступающего сырья и производства комбикормов до выхода продукции находится под жестким контролем специалистов нашей аттестованной лаборатории.”
    .right_descript.cf
      %h1 СТРУКТУРА
      %p Структура предприятия включает в себя полный цикл производства от организации собственной кормовой базы до реализации конечной продукции в собственных павильонах.
      %p Проект предприятия предусматривает производство мяса говядины в количестве 20 тыс. тонн на базе созданной кормовой базы, введеной площадки по откорму молодняка крупного рогатого скота мощностью 13 тыс. голов, строящейся второй площадки по откорму молодняка крупного рогатого мощностью 13 тысяч голов, введенного мясоперерабатывающего комплекса мощностью 21 тыс. тонн в год, племрепродуктора специализированных мясных пород на 3000 коров, организацию 50 семейных мясных ферм по выращиванию и откорму 40-50 тысяч голов скота.
.meat_production_accordion
  .grey_header
    %h1 ПРОИЗВОДСТВО МРАМОРНОЙ ГОВЯДИНЫ
  .two_blocks
    %img.about_scheme{:src => "/assets/about/scheme.png", :style => "display:none"}
    %ul
      %li.first
        %a{:href => "javascript:void(0)"} 1. Организация кормовой базы - собственная кормовая база 20000 га пастбищ, 42000 га пашни, в том числе   10000 га кукурузы.
      %li
        %a{:href => "javascript:void(0)"} 2. Построена откормочная площадка (фидлот) производственной мощностью 20000 голов. В 2013 будет введен в эксплуатацию второй фидлот мощностью 30000 голов в год.
      %li
        %a{:href => "javascript:void(0)"} 3. Сдан в эксплуатацию мясоперерабатывающий комплекс с мощностью переработки 60000 голов КРС в год.
      %li
        %a{:href => "javascript:void(0)"} 4. Племенной репродуктор составляет 2500 голов КРС. К 2013 году планируется увеличение племенного стада КРС до 5000 голов, к 2015 году - 20000 голов племенного и помесного стада КРС.
      %li.last
        %a{:href => "javascript:void(0)", :style => ""} 5. Реализация охлажденного мяса в собственных торговых павильонах, его поставка в рестораны и гипермаркеты крупных городов, а также в детские сады и школы.
    .middle_full_block
      %h1 КОМПЛЕКСНЫЙ ПОДХОД
      .border_red
      %p{:style => "line-height:25px;padding-top:10px;"} Проект по объему производства, переработке и реализации высококачественного охлажденного "мраморного" мяса является первым в Российской Федерации.
      %p{:style => "line-height:25px;"} Он предусматривает создание полного цикла производства мяса говядины высшего качества на 20000 тонн в убойном весе.
  #accordion
    %h3
      %a{:href => "javascript:void(0)"} Племенное хозяйство
    %div
      %img{:src => "/assets/about/accordion/system_cow_calf.png"}
      .pic_text_module.first_text
        %img{:src => "/assets/about/accordion/calf_born.png"}
        .grey_white_grad
          %p Телята появляются в апреле – мае, получая большое количество молока, моцион, свежий воздух, солнечное тепло, молодую траву - все это способствует их активному росту и развитию, а для коров - укреплению здоровья и продолжительность продуктивного использования. Коров вместе с телятами содержат на естественных, посевных, культурных пастбищах, которые должны удовлетворять потребность коров в зеленом корме.
      .pic_text_module
        %img{:src => "/assets/about/accordion/cow_calf.png"}
        .grey_white_grad
          %p При подсосном выращивании молоко матери попадает в организм теленка нормальной температуры, чистое, небольшими порциями. Прием материнского молока повышает усвояемость корма, способствует росту телят, увеличению их резистентности к негативным факторам окружающей среды.
    %h3
      %a{:href => "javascript:void(0)"} Откорм на специализированных площадках(фидлотах)
    %div
      %img{:src => "/assets/about/accordion/feed_lots.png"}
      .pic_text_module.first_text
        %img{:src => "/assets/about/accordion/fodder.png"}
        .grey_white_grad
          %p В состав корма входит плющеная кукуруза, рапсовый шрот и силос. Все сырье для рационов поставляется с собственного завода холдинга. Рапсовый шрот получают схеме форпрессования-экстракция из предварительно обработанных семян рапса с применением дополнительной влаго-тепловой обработки (тостирования).
      .pic_text_module
        %img{:src => "/assets/about/accordion/self_production.png"}
        .grey_white_grad
          %p Предприятие располагает двумя площадками по откорму молодняка крупного рогатого скота мощностью по 13 тыс. голов. В каждом фидлоте содержится большой объем воды и свежего корма. Площадки OOO "АЛБИФ" являются точной копией канадских фидлотов. На начальном этапе работы российских скотоводов консультировали специалисты из США и Канады.
    %h3
      %a{:href => "javascript:void(0)"} Мясопереработывающий комбинат
    %div
      %img{:src => "/assets/about/accordion/MPK.png"}
      .pic_text_module.first_text
        %img{:src => "/assets/about/accordion/meat_processing_plant.png"}
        .grey_white_grad
          %p Комплекс включает в себя мясоперерабатывающий цех, цех по произвдству охлажденного мяса, а также цех по производству мясокостной муки, очистные сооружения. Проект предприятия предусматривает производство мяса говядины в количестве 20 тыс. тонн
      .pic_text_module
        %img{:src => "/assets/about/accordion/equipment.png"}
        .grey_white_grad
          %p Благодаря высокому уровню санитарии и гигиены производства, применениею современного оборудования и новейших упаковочных материалов удалось достичь высоких показателей по срокам хранения готовой продукции в охлажденном виде.

