.main
  #about_page
    .tabs_module
      .title
      %ul.tabs
        %li.active
          %a{:href => "javascript:void(0)", :id => "mission"} миссия
        %li
          %a{:href => "javascript:void(0)", :id => "production"} производство
        %li
          %a{:href => "javascript:void(0)", :id => "quality"} качество
    .mission.about_module{:style => "display:block;"}
    .production.about_module{:style => "display:none;"}
    .quality.about_module{:style => "display:none;"}