.main
  #about_page
    .tabs_module
      .title
      %ul.tabs
        %li.active{:id => "mission"}
          %a{:href => "javascript:void(0)"} миссия
        %li{:id => "production"}
          %a{:href => "javascript:void(0)"} производство
        %li{:id => "quality"}
          %a{:href => "javascript:void(0)"} качество
    .mission.about_module{:style => "display:block;"}
      .middle_with_citat
        .red_line
          .left_descript
            %p “Весь технологический процесс от поступающего сырья и производства комбикормов до выхода продукции находится под жестким контролем специалистов нашей аттестованной лаборатории.”
          .right_descript
            %h1 ЗАДАЧИ ПРЕДПРИЯТИЯ
            %p Предприятие ставит перед собой  выполнение следующих социальных  задач:
            %ul
              %li повышение занятости населения - будет создано дополнительно 300 рабочих мест;
              %li повышение профессиональных навыков производственных рабочих;
              %li организация   учебного центра мясного скотоводства;
              %li создание селекционного центра  породы абердин -ангус;
              %li развитие местной инфраструктуры;
              %li создание туристического маршрута, парка отдыха, сельского туризма
      .two_blocks
        .video_block
        .middle_full_block
          %h1 ХОЛДИНГ "ЗЕРОС"
          .border_red
          %p Сфера мясного производства является наиболее привилегированным направлением развития холдинга и занимает исключительное место в бизнесе «ЗЕРОС».
          %p Предприятие «АЛБИФ», которое входит в состав агрохолдинга, является единственной животноводческой организацией с абсолютно уникальной для России технологией выращивания крупного рогатого скота.
      .three_blocks
        .middle_full_block.cart
          %p «АЛБИФ» является единственным отечественным поставщиком мяса класса премиум на всей территории страны.
          %img{:src => "/assets/about/cart.png"}
        .middle_full_block.coins
          %p Социально ориентированная ценовая политика предприятия выгодно отличает компанию на рынке продуктов массового потребления.
          %img{:src => "/assets/about/coins.png"}
        .middle_full_block.handshake
          %p Предприятие поставляет мясо почти во все дошкольные учреждения города, что отражает высокий уровень социальной ответственности компании.
          %img{:src => "/assets/about/handshake.png"}
    .production.about_module{:style => "display:none;"}
      .middle_with_citat
        .red_line
          .left_descript
            %p “Весь технологический процесс от поступающего сырья и производства комбикормов до выхода продукции находится под жестким контролем специалистов нашей аттестованной лаборатории.”
          .right_descript
            %h1 МЯСОКОМБИНАТ
            %p Действующий собственный мясокомбинат применяет только новейшие технологии переработки сырья. Комплекс  включает в себя мясоперерабатывающий цех, цех по производству охлажденного мяса, а также цех по производству мясокостной муки, очистные сооружения.
            %p Проект  предприятия  предусматривает производство  мяса говядины  в  количестве 20 тыс. тонн на базе созданной кормовой базы, введеной  площадки по  откорму молодняка крупного рогатого скота  мощностью 13 тыс. голов, строящейся  второй площадки по откорму молодняка крупного рогатого мощностью 13 тысяч голов, введенного  мясоперерабатывающего  комплекса  мощностью 21 тыс. тонн в год, племрепродуктора  специализированных  мясных пород на 3000 коров, организацию 50 семейных мясных ферм  по выращиванию  и откорму 40-50  тысяч голов скота.
    .quality.about_module{:style => "display:none;"}
      .middle_with_citat
        .red_line
          .left_descript
            %p “Именно зерновой откорм придает нашей говядине уникальные свойства, например, мраморность.”
          .right_descript
            %h1 МРАМОРНОСТЬ
            %p Зерновое кормление включает в рацион питания животных не только травы, но и зерно – кукуруза и пшеница. Существует классификация говядины по степени мраморности (Marbling — MB) — шкала мраморности от 0 до 9 (стандарт AUS-MEAT). Степень мраморности зависит напрямую от количества дней зернового кормления. Чем дольше зерновой откорм, тем мраморнее мясо.
            %p Именно зерновой откорм придает нашей говядине уникальные свойства, например, мраморность – тонкие вкрапления жира в постной мышечной ткани, напоминающие природный рисунок благородного камня. В процессе приготовления они тают, наполняя мясо соком, за счет чего оно приобретает неповторимую мягкость и нежность. Мраморность является важным показателем качества мяса.