.main
  #about_page
    .tabs_module.mission_tab
      .title
      %ul.tabs
        %li.active{:id => "mission"}
          %a{:href => "javascript:void(0)"} миссия
        %li{:id => "production"}
          %a{:href => "javascript:void(0)"} структура
        %li{:id => "quality"}
          %a{:href => "javascript:void(0)"} качество
    .mission.about_module{:style => "display:block;"}
      = render "about/mission"
    .production.about_module{:style => "display:none;"}
      = render "about/structure"
    .quality.about_module{:style => "display:none;"}
      = render "about/quality"
