.main
  #about_page
    .tabs_module
      .title
      %ul.tabs
        %li
          %a{:href => "#"} Миссия
        %li.active
          %a{:href => "#"} Производство
        %li
          %a{:href => "#"} Качество
