#about_page {
  .production_tab {
    background: url(/assets/about/production.png) no-repeat 0 0;
  }
  .mission_tab {
    background: url(/assets/about/mission.png) no-repeat 0 0;
   }
  .mission_position {
    li {
      padding-bottom: 15px;
    }
  }
  .quality_tab {
    background: url(/assets/about/quality.png) no-repeat 0 0;
  }

  .tabs_module {
    width:865px;
    height:420px;
    ul.tabs{
      margin-left:54px;
      li {
        margin-left: 15px;
        float:left;
        background:#BEB7B4;
        opacity: 0.6;
        border-radius:10px 10px 0 0;
        width:230px;
        height:50px;
        margin-top:370px;
        position: relative;
        z-index: 10;
        filter: alpha(opacity=60);
        cursor:pointer;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
        behavior: url(assets/modules/PIE.htc);
        a {
          font-size: 18px;
          text-align: center;
          color: #3E1E13;
          display: block;
          margin-top: 17px;
          font-family: Verdana, sans-serif;
          opacity: 1;
          height: 68%;
        }
      }
      li.active {
        background:white;
        opacity: 1;
        filter: alpha(opacity=100);
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
        a {
          color:#676767;
        }
      }
      li:first-child {
        margit-left:0;
      }

      li:hover {
        background:white;
        opacity: 1;
        -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
        filter: alpha(opacity=100);

        a {
          color:#676767;
        }
      }

    }
  }
}

.production.about_module {
.middle_with_citat .left_descript {
    height:303px;
  }
}
.quality.about_module {
  .middle_with_citat {
    height:60px;
  }
  .modules {
    position: relative;
    height:450px;
    div {
      border-radius: 10px;
      position: absolute;
      h1 {
        font-size: 14px;
        font-weight: bold;
        text-align: center;
        margin-left:7px;
        margin-right:7px;
        padding-bottom:0px;
      }
      p {
        font-size: 12px;
        text-align: center;
        margin-left:7px;
        margin-right:7px;
      }
    }
    .acid {
      top:60px;
      left:0px;
      width:282px;
      height:200px;
    }
    .fat {
      top:33px;
      left:325px;
      width:350px;
      height:110px;
    }
    .meet {
      top:180px;
      left:347px;
      img {
        width:229px;
        height:87px;
      }
    }
    .anti_cancirogen {
      top:188px;
      left:628px;
      width:237px;
      height:123px;
    }
    .nutritions {
      top:355px;
      left:511px;
      width:269px;
      height:83px;
    }
    .nitrogen_subs {
      top:305px;
      left:157px;
      width:310px;
      height:136px;
    }
  }
  .middle_with_citat .left_descript {
    height:303px;
  }
  .two_blocks {
    margin-top: 25px;
    .middle_full_block {
      width:464px;
      display: inline-block;
      vertical-align: top;
      p {
        margin-left:10px;
      }
      p:last-child {
        padding-bottom:14px;
      }
    }
    .food_chart {
      display: inline-block;
      vertical-align: top;
      padding-left:10px;
      img {
        width:373px;
      }
    }
  }
}
.mission.about_module {


  .middle_with_citat  {
    height:258px;
    .left_descript {
    height:246px;
  }
    .right_descript {
      height:246px;
      padding-bottom:0 !important;
    }


  }
  .two_blocks {
    width:865px;
    margin-top:40px;
    height: 255px;
    clear:both;
    .middle_full_block {
      width:425px;
      height:255px;
      display: inline-block;
      margin-left: 21px;
      vertical-align: top;
      h1 {
        padding-left: 20px;
      }
    }
    .video_block {
      width:415px;
      height:255px;
      background: black no-repeat;
      display: inline-block;
      vertical-align: top;
    }
  }

  .three_blocks {
    clear: both;
    margin-top:25px;
    .middle_full_block {
      border-radius: 10px;
      width:258px;
      height:230px;
      display:inline-block;
      vertical-align: top;
      margin-left:41px;
      p {
        text-align: center;
        margin: 0 auto;
        margin-top: 15px;
        width:230px;
      }
      img {

        margin:0 auto;
        display: block;
      }
    }
    .cart {
        img {
        height:108px;
        width:86px;
        margin-top: 20px;
      }
    }
    .coins {
      img {
        height:102px;
        width:101px;
        margin-top:4px;
      }
    }
    .handshake {
      img {
        height:110px;
        width:112px;
      }
    }
    .middle_full_block:first-child {
      margin-left:0;
    }
  }
}

.production.about_module {
  .middle_with_citat {
    height: 314px;
  }

  .two_blocks {
    width:865px;
    height:444px;
    margin-top: 40px;

    ul {
      display:inline-block;
      vertical-align:top;
      height:382px;
      width:426px;
      li {
        width:426px;
        height:70px;
        position: relative;
        border-radius: 10px;
        margin-bottom:29px;
        background: -moz-linear-gradient(top, #f4f2f1 0%, #dedad7 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f4f2f1), color-stop(100%,#dedad7));
        background: -webkit-linear-gradient(top, #f4f2f1 0%,#dedad7 100%);
        background: -o-linear-gradient(top, #f4f2f1 0%,#dedad7 100%);
        background: -ms-linear-gradient(top, #f4f2f1 0%,#dedad7 100%);
        background: linear-gradient(to bottom, #f4f2f1 0%,#dedad7 100%);
        z-index: 10;
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4f2f1', endColorstr='#dedad7',GradientType=0 );
        behavior: url(assets/modules/PIE.htc);
        a {
          font-size: 13px;
          display: block;
          color: #363534;
          padding-top: 10px;
          padding-left: 11px;
          line-height: 15px;
        }
      }
      li:after {
        border-color: #dedad7 transparent;
        border-style: solid;
        border-width: 25px 96px 0;
        bottom: -24px;
        content: "";
        display: block;
        left: 116px;
        position: absolute;
        behavior: url(assets/modules/PIE.htc);

      }
      li.first {
        background: #ff1d28;
        position: relative;
        font-weight: bold;
        border-radius: 10px;
        a {
          color: #fcfbfb;
        }
      }
      li.first:after {
        border-color: #ff1d28 transparent !important;
        border-style: solid;
        border-width: 25px 96px 0;
        bottom: -24px;
        content: "";
        display: block;
        left: 116px;
        position: absolute;
        behavior: url(assets/modules/PIE.htc);
      }

      li.last {
        height:62px;
        background: grey;
        margin-bottom:0;
        behavior: url(assets/modules/PIE.htc);
        a {
          color: #fcfbfb;
          padding-top: 9px;
        }
      }
      li.last:after {
        border:0px solid black;
        behavior: url(assets/modules/PIE.htc);
      }
    }
    .middle_full_block {
      display:inline-block;
      vertical-align:top;
      width:412px;
      height:373px;
      margin-left: 20px;

      p {
        width: 367px;
      }
      h1 {
        padding-left: 20px;
      }
    }
  }
  .bottom_module.middle_full_block {
    width:865px;
    height: 485px;
    border-radius: 10px;
    margin-top: 25px;
    .our_equipment {
      display: inline-block;
      vertical-align: top;
      width:371px;
      height:428px;
      h1 {
        padding-top:20px;
        padding-left:20px;
      }
    }
    #gallery {
      margin-top:20px;
      margin-left: 28px;
      width:442px;
      height:427px;
      display: inline-block;
      vertical-align: top;
      #thumbarea {
        padding-top:6px;
      }
      #thumbareaContent {
        img {
        width:120px;
        height:80px;
        }
      }
      #imageareaContent {
        margin: 0 0 -2px !important;
        img {
          width:416px;
          height:263px;
        }
      }
      #scrollGalleryHead {
        margin-top:0 !important;
        padding-top:0 !important;
      }
      #scrollGalleryFoot {
        margin-top:0;
        margin-bottom:5px;
      }
    }
  }
}

.mission.about_module .cart {
  margin-left: 0 !important;
}


.meat_production_accordion {
  margin-top:25px;
  #accordion {
    margin-top:25px;
    h3 {
      display: block;
      height: 87px;
      border-radius: 0 0 10px 10px;
      background: -moz-linear-gradient(top, #ffffff 0%, #d5d2cd 100%);
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#d5d2cd));
      background: -webkit-linear-gradient(top, #ffffff 0%,#d5d2cd 100%);
      background: -o-linear-gradient(top, #ffffff 0%,#d5d2cd 100%);
      background: -ms-linear-gradient(top, #ffffff 0%,#d5d2cd 100%);
      background: linear-gradient(to bottom, #ffffff 0%,#d5d2cd 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#d5d2cd',GradientType=0 );
      /*box-shadow: 0px 2px 4px black;*/
      z-index: 10;
      position: relative;
      behavior: url(assets/modules/PIE.htc);
      a {
        color: #265c99;
        text-decoration: none;
        font-size: 20px;
        font-weight: bold;
        padding-left:48px;
        padding-top:34px;
        display: block;
        background: url("/assets/large_closed_arrow.png") no-repeat 23px 35px;
        background-size: 10px 20px;
        padding-bottom:5px;
        text-shadow: 0 1px 1px white;
      }
    }
    h3.ui-state-active {
      a {
        background: url("/assets/large_open_arrow.png") no-repeat 13px 37px;
        background-size: 20px 10px;
      }
    }

    .ui-accordion-content {
      height:685px;
      margin-top:5px;
      & > img {
        width:865px;
        height:323px;
      }
      .pic_text_module {
        img {
          width: 433px;
          height: 182px;
          display: inline-block;
          vertical-align: top;
        }
        .grey_white_grad {
          width:431px;
          display: inline-block;
          height: 182px;
          margin-left: -3px;
          vertical-align: top;
          p {
            font-size: 14px;
            line-height: 18px;
            padding: 18px;
            text-shadow: 0 1px 1px white;
            }
        }
      }
      .first_text {
        margin-top:-3px;
      }

    }
  }
  }

.msie8 #about_page .tabs_module ul.tabs li {
  height:51px !important;
}

.about_scheme {
  display: inline-block;
  height: 457px;
  vertical-align: top;
  width: 430px;
}