#about_page {
  .tabs_module {
    width:865px;
    height:420px;
    background: url(/assets/about/feeding.png) no-repeat 0 0;
    ul.tabs{
      margin-left:54px;
      li {

        margin-left: 15px;
        float:left;
       /* border-top: 1px solid grey;
        border-left: 1px solid grey;
        border-right: 1px solid grey; */
        background:#BEB7B4;
        opacity: 0.6;
        border-radius:10px 10px 0 0;
        width:230px;
        height:50px;
        margin-top:370px;
        position: relative;
        z-index: 10;
        behavior: url(assets/modules/PIE.htc);
        a {
          font-size: 18px;
          text-align: center;
          color: #3E1E13;
          display: block;
          margin-top: 17px;
          font-family: Verdana, sans-serif;
          opacity: 1;
          height: 68%;
        }
      }
      li.active {
        background:white;
        opacity: 1;
        a {
          color:#676767;
        }
      }
      li:first-child {
        margit-left:0;
      }

      li:hover {
        background:white;
        opacity: 1;
        a {
          color:#676767;
        }
      }

    }
  }
}