#contacts_page {

  a {
    color: #1D3F68;
  }
  a:hover {
    text-decoration: underline;
  }
  .text_module {
    margin-top: 25px;
    margin-left:10px;
  }

  table {
    td {
      padding-bottom: 15px;
      font-size: 16px;
      color:#000000;
    }
    td:first-child {
      color:#777777;
      font-size: 18px;
      width:100px;
    }
  }

  .pics_module {
    height: 329px;
    width: 865px;
    background: url("/assets/contacts/contacts.png") no-repeat scroll 0 0 transparent;
  }

  .middle_with_citat{
    height: auto !important;
    h1 {
    padding-top: 14px;
    padding-bottom: 12px;
    }
  }

  .map_module {
   margin-top: 20px;
   width:865px;
    img {
      width:865px;
    }
  }
}