.middle_with_citat {
  /* height: 395px; */
  width: 865px;
  margin-top:25px;
  .red_line {
    border-top: 11px solid #FF1D28;

    .left_descript {
      width: 260px;
      background: #d1ccc7;
      border-radius: 0 0 0 10px;
      float:left;

      box-shadow: 0px 2px 4px black;
      background: -moz-linear-gradient(top, #f8f6f5 0%, #d7d2ce 100%);
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f8f6f5), color-stop(100%,#d7d2ce));
      background: -webkit-linear-gradient(top, #f8f6f5 0%,#d7d2ce 100%);
      background: -o-linear-gradient(top, #f8f6f5 0%,#d7d2ce 100%);
      background: -ms-linear-gradient(top, #f8f6f5 0%,#d7d2ce 100%);
      background: linear-gradient(to bottom, #f8f6f5 0%,#d7d2ce 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8f6f5', endColorstr='#d7d2ce',GradientType=0 );
      behavior: url(assets/modules/PIE.htc);
      p {
        color: #3A060A;
        font-size: 15px;
        font-style: italic;
        margin-left: 15px;
        margin-top: 25px;
        width: 234px;
        line-height: 24px;
        font-size: 14px;
        font-family: Georgia;
      }
    }

    .right_descript {
      width:595px;
      background: #d1ccc7;
      border-radius: 0 0 10px 0;
      margin-left:10px;
      float:left;
      box-shadow: 0px 2px 4px black;
      background: -moz-linear-gradient(top, #f8f6f5 0%, #d7d2ce 100%);
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f8f6f5), color-stop(100%,#d7d2ce));
      background: -webkit-linear-gradient(top, #f8f6f5 0%,#d7d2ce 100%);
      background: -o-linear-gradient(top, #f8f6f5 0%,#d7d2ce 100%);
      background: -ms-linear-gradient(top, #f8f6f5 0%,#d7d2ce 100%);
      background: linear-gradient(to bottom, #f8f6f5 0%,#d7d2ce 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8f6f5', endColorstr='#d7d2ce',GradientType=0 );
      behavior: url(assets/modules/PIE.htc);
      padding-bottom:20px;
      h1 {
        font-size: 24px;
        color: #212121;
      }
      p, ul {
        font-size: 14px;
        width:560px;
        line-height: 19px;
        margin-left:20px;
        margin-top:15px;
      }
      h1 {
        margin-left:20px;
        margin-top:20px;
      }
      ul {
        list-style-type: disc !important;
        padding-left:14px;
      }
    }
  }
}

.middle_full_block {
  clear: both;
  background: #d1ccc7;
  box-shadow: 0px 2px 4px black;
  border-radius: 0 0 10px 10px;
  background: -moz-linear-gradient(top, #f8f6f5 0%, #d7d2ce 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f8f6f5), color-stop(100%,#d7d2ce));
  background: -webkit-linear-gradient(top, #f8f6f5 0%,#d7d2ce 100%);
  background: -o-linear-gradient(top, #f8f6f5 0%,#d7d2ce 100%);
  background: -ms-linear-gradient(top, #f8f6f5 0%,#d7d2ce 100%);
  background: linear-gradient(to bottom, #f8f6f5 0%,#d7d2ce 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8f6f5', endColorstr='#d7d2ce',GradientType=0 );
  behavior: url(assets/modules/PIE.htc);

  .border_red {
    border-bottom: 5px #ff1d28 solid;
    border-top: 2px #972228 solid;
  }
  h1 {
    color: #212121;
    font-size: 24px;
    padding-bottom: 9px;
    padding-left: 10px;
    padding-top: 12px;
  }
  p {
    font-size: 14px;
    line-height: 19px;
    margin-left: 20px;
    margin-top: 15px;
  }
}

.cf:before, .cf:after {
  content: " ";
  display: table;
}

.cf:after {
  clear: both;
}

.cf {
  *zoom: 1;
}

.button {
  background: -moz-linear-gradient(center top , #FFFFFF, #DCDCDC) repeat scroll 0 0 transparent;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FFFFFF), color-stop(100%,#DCDCDC));
  background: -webkit-linear-gradient(top, #FFFFFF 0%,#DCDCDC 100%);
  background: -o-linear-gradient(top, #FFFFFF 0%,#DCDCDC 100%);
  background: -ms-linear-gradient(top, #FFFFFF 0%,#DCDCDC 100%);
  background: linear-gradient(to bottom, #FFFFFF 0%,#DCDCDC 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFFFFF', endColorstr='#DCDCDC',GradientType=0 );
  border: 1px solid #B7B7B7 !important;
  border-radius: 0.3em 0.3em 0.3em 0.3em;
  cursor: pointer;
  display: block;
  font-family: Arial;
  font-size: 11px;
  font-weight: bold;
  margin: 0 2px;
  outline: medium none;
  padding: 0.28em 2.8em;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-shadow: 1px 1px 1px #FFFFFF;
  vertical-align: baseline;
  z-index: 10;
  color:black !important;
  behavior: url(assets/modules/PIE.htc);
}

.button:hover {
  background: -moz-linear-gradient(center top , #EDEDED, #DCDCDC) repeat scroll 0 0 transparent;
  text-decoration: none;
}
.button:active {
  background: -moz-linear-gradient(center top , #EDEDED, #FFFFFF) repeat scroll 0 0 transparent;
  color: #606060;
}

.more {
  color:#491208 !important;
}

.red_large {
  font-style: italic;
  font-size:14px;
  color: #ed1b24;
}
.red_med {
  font-style: italic;
  font-size:12px;
  color: #ed1b24;
}

.grey_header {
  clear: both;
  box-shadow: 0px 2px 4px black;
  border-radius: 0 0 7px 7px;
  background: -moz-linear-gradient(top, #d3cfca 0%, #454443 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d3cfca), color-stop(100%,#454443));
  background: -webkit-linear-gradient(top, #d3cfca 0%,#454443 100%);
  background: -o-linear-gradient(top, #d3cfca 0%,#454443 100%);
  background: -ms-linear-gradient(top, #d3cfca 0%,#454443 100%);
  background: linear-gradient(to bottom, #d3cfca 0%,#454443 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d3cfca', endColorstr='#454443',GradientType=0 );
  behavior: url(assets/modules/PIE.htc);
  h1 {
    color:white;
    font-size: 24px;
    padding-bottom: 9px;
    padding-left: 20px;
    padding-top: 12px;
  }
}

.grey_white_grad {
  background: -moz-linear-gradient(top, #ffffff 0%, #d5d2cd 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#d5d2cd));
  background: -webkit-linear-gradient(top, #ffffff 0%,#d5d2cd 100%);
  background: -o-linear-gradient(top, #ffffff 0%,#d5d2cd 100%);
  background: -ms-linear-gradient(top, #ffffff 0%,#d5d2cd 100%);
  background: linear-gradient(to bottom, #ffffff 0%,#d5d2cd 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#d5d2cd',GradientType=0 );
  behavior: url(assets/modules/PIE.htc);
}

.header_ajust {
  height:105px;
}
