#jobs_page {
  a {
    color: #1D3F68;

  }
  a:hover {
    text-decoration: underline;
  }
  .middle_full_block {
    padding-bottom:25px;
    ul {
      margin-left:36px;
      list-style-image: url("/assets/red_arrow.png");
      margin-top:15px;
      li {
        padding-bottom:10px;
        line-height: 17px;
        font-size: 13px;
        span, a {
          position: relative;
          top: -4px;
        }
      }
    }
  }
  .jobs_offer {
    margin-top:25px;
  }

  .pics_module {
    height: 329px;
    width: 865px;
    background: url("/assets/jobs/jobs.png") no-repeat scroll 0 0 transparent;
  }

  .middle_with_citat{
    height: auto !important;

    h1 {
      padding-top: 14px;
      padding-bottom: 12px;
    }
  }

   .map_module {
    margin-top: 20px;
  }

  .no_mrg_top {margin-top:0px;}


  /* job_descr page*/

  .desr_module {
    margin-top:15px;
    margin-left:10px;
    h1 {
      font-size: 20px;
      font-weight: bold;
      padding-top:35px;
      padding-bottom:15px;
    }

    .profes {
      font-size: 18px;
      padding-left:15px;
    }
    p {
      padding-left:15px;
      font-size: 14px;
      width:575px;
      line-height: 18px;

    }
    a {
      float: left;
      display: block;
      margin-top:35px;
      font-size:14px;
      margin-bottom:70px;
      padding-top:8px;
      padding-bottom:8px;
    }
  }
}
.noPd {padding-bottom:0px !important;}