#news_page {
  a {color: black;}
  .middle_full_block {
    padding-bottom:25px;



  }

  .pics_module {
    height: 329px;
    width: 865px;
    background: url("/assets/news/news.png") no-repeat scroll -87px 0  transparent;
  }


  .middle_with_citat{
    height: auto !important;

    h1 {
      padding-top: 14px;
      padding-bottom: 12px;
    }
  }

  .main_new_block {
    height: 244px;
    margin-top: 25px;
    a { color:#1D3F68;}
    & > .red_large {
      padding-bottom: 8px;
      padding-left:10px;
    }
    .more {
      text-decoration: underline;
      float: right;
      display: block;
      padding-top:5px;
      font-style: italic;
    }
    .more:hover {
      text-decoration: none;
    }
    .left {
      display: inline-block;
      vertical-align: top;
      padding-right:15px;
      img {
        width:305px;
        height: 202px;
      }

    }
    .right {
      display: inline-block;
      vertical-align: top;
      a {
        font-size: 20px;
        width:483px;
        display: inline-block;
      }
      p {
        width:483px;
        font-size: 14px;
        padding-top:15px;
        line-height:17px;
      }
    }



 }
  .news_list_block {
    margin-top:25px;
    ul {
      padding-top: 15px;
      padding-bottom: 14px;
      border-top: 2px solid #ed1b24;
      border-bottom: 2px solid #ed1b24;

      list-style-image: url("/assets/red_arrow.png");
        li {
          margin-left:25px;
          padding-bottom:18px;
          a {
            position: relative;
            top: -4px;
            color: #1D3F68;
          }
          a:hover {
            text-decoration: underline;
          }
          span {
            position: relative;
            left:7px;
            top:-4px;
          }
      }
      li:last-child {
        padding-bottom: 0;
      }
      .no_news {
        list-style: none outside none !important;
        text-align: center;
      }
    }
  }
  a {
    color: #491208;
    display: inline-block !important;
  }
  a:hover {
    text-decoration: none;
  }

  .pagination {
    font-size: 14px;
    margin: 15px auto;
    display: block;
    color:#1D3F68;
    text-align: center;
    width: 50%;
    a {
      font-weight: bold;
      text-decoration: underline;
    }
    .active, .pages {
      cursor: default;
      font-weight: normal;
      text-decoration: none;
    }
  }

  .a_new_block {
    margin-top:25px;
    h1 {
      font-size: 28px;
      padding-left: 10px;
      line-height: 30px;
    }
    .body {
      padding-top:15px;

      & > .red_large {
        padding-left: 10px;
        float: left;
        width:100%;
      }
      & > img {
        float: left;
        padding: 20px 20px 10px 0;
      }

      .text_block {
        p {
        font-size: 16px;
        padding-bottom:20px;
          line-height: 20px;
      }
      p:first-child {
        margin-top:30px;
      }
      }
    }
  }
  ul.paginator {
    margin-top:40px;
    padding-bottom:50px;
    li {
      float:left;
      margin-right:190px;
      font-size: 15px;
      color: #491208;
      font-style: italic;
      a {
        font-size: 15px;
        color: #491208;
        font-style: italic;
      }
      a:hover {
        text-decoration: underline;
      }

    }
    li.last {
      margin-right:0px;
    }
  }
}

