#production_page {
  .pics_module {
    background: url("/assets/production/mramorn.png") no-repeat scroll 0 0 transparent;
    height: 327px;
    width: 865px;
  }
  .middle_with_citat {
    height: 395px;

  .left_descript {
    height: 384px;
  }
  .right_descript {
    h1 {
      padding-bottom: 20px;
    }
  }

  .beef_parts {
    width:492px;
    height:300px;
    background:url(/assets/production/cow_parts.png) no-repeat 0 0;
    background-size: 492px 300px;
    margin: 0 auto;
  }

  }
  .middle_full_block {
    margin-top: 25px;
    h1 {  padding-left: 15px;}
    .text {
      display: inline-block;
      vertical-align: top;
      p {
        width:367px;
        margin-left: 15px;
      }
    }
    img {
      vertical-align: top;
      padding: 20px 35px 40px;
    }
  }
}
