@import "compass";
@import "compass/reset";

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  background:white;
}
.container {
  clear: both;

.header, .main {
  width:865px;
  margin:0 auto;
  }
}
 .slider {
   width:800px;
   margin:0 auto;
 }

.main_header {
  margin-top:-11px;
  clear:both;
  width:896px;
  height:432px;
  .left {
    min-width:152px;
    background: url("/assets/layout/wood_right.png") no-repeat scroll 0 0 transparent;
    margin-top:-7px;
    height:554px;
  }

    .inside_block {
      width:863px;
      margin: 0 auto;
        height: 432px;
      .top_part {
        height: 62px;
        margin-top: 2px;
        width: 863px;
      }
      .logo {
        float:left;
        margin-left: -2px;
        img {
          width:195px;
          height: 65px;
        }
      }
      ul.menu {
        float:left;
        margin-left:25px;
        li {
          float:left;
          padding: 24px 14px 2px;
          a {
            font-size: 14px;
            text-decoration: none;
            color: #444443;
            font-family: Verdana, Arial, sans-serif;
          }
        }
        li.active {
          a {
            color: #c5161e;
            border-bottom: 3px solid #c5161e;
            padding-bottom:11px;
          }
        }
        li:hover {
                  a {
                    border-bottom: 3px solid #c5161e;
                    padding-bottom:11px;
                  }
                }

        li.last {
          padding-right: 0;

        }
      }
      .slider {
      /*  width:862px;
        height:480px; */
        clear: both;
        width:800px;
        margin: 0 auto;
      }
    }


  & > div {
    float:left;
  }
}

.thin_red_line {
  position: relative;
  z-index: 10;
  clear:both;
  margin: 0 auto;
 /* width: 896px;*/
  margin-top:-11px;
  & > div {
    width:11px;
    height: 31px;
    float:left;
  }
  .left {
    background: url("/assets/layout/header_left.png") no-repeat scroll left top transparent;
  }
  .middle {
    background: url("/assets/layout/header_middle.png") repeat-x scroll left top transparent;
   /* width:874px; */
    width:100%;
  }
  .right {
    background: url("/assets/layout/header_right.png") no-repeat scroll right top transparent;
    width:10px;
  }
}
.main {
  width:863px;
  #welcome_page {
    margin-top:15px;
    .top_middle {
      width:865px;
      height:254px;
      .red_line {
        border-top: 11px #ff1d28 solid;
      }
        .left_descript {
          width: 260px;
          background: #d1ccc7;
          border-radius: 0 0 0 10px;
          height: 243px;
          float:left;

          box-shadow: 0px 2px 4px black;
          background: -moz-linear-gradient(top, #f8f6f5 0%, #d7d2ce 100%);
          background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f8f6f5), color-stop(100%,#d7d2ce));
          background: -webkit-linear-gradient(top, #f8f6f5 0%,#d7d2ce 100%);
          background: -o-linear-gradient(top, #f8f6f5 0%,#d7d2ce 100%);
          background: -ms-linear-gradient(top, #f8f6f5 0%,#d7d2ce 100%);
          background: linear-gradient(to bottom, #f8f6f5 0%,#d7d2ce 100%);
          filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8f6f5', endColorstr='#d7d2ce',GradientType=0 );
          p {
            color: #3A060A;
            font-size: 15px;
            font-style: italic;
            margin-left: 15px;
            margin-top: 15px;
            width: 234px;
            line-height: 24px;
            font-size: 14px;
            font-family: Georgia;
          }
        }
        .right_descript {
          width:595px;
          background: #d1ccc7;
          height: 243px;
          border-radius: 0 0 10px 0;
          margin-left:10px;
          float:left;
          box-shadow: 0px 2px 4px black;
          background: -moz-linear-gradient(top, #f8f6f5 0%, #d7d2ce 100%);
          background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f8f6f5), color-stop(100%,#d7d2ce));
          background: -webkit-linear-gradient(top, #f8f6f5 0%,#d7d2ce 100%);
          background: -o-linear-gradient(top, #f8f6f5 0%,#d7d2ce 100%);
          background: -ms-linear-gradient(top, #f8f6f5 0%,#d7d2ce 100%);
          background: linear-gradient(to bottom, #f8f6f5 0%,#d7d2ce 100%);
          filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8f6f5', endColorstr='#d7d2ce',GradientType=0 );
          h1 {
            font-size: 24px;
          }
          p {
            font-size: 14px;
            width:560px;
            line-height: 19px;
          }
          h1 {
            margin-left:25px;
            margin-top:20px;
          }
          p {
            margin-left:20px;
            margin-top:15px;
          }
          p:first-child {
            margin-top:15px;
          }
        }
    }
    .news_module {
      clear: both;
      margin-top:15px;
      background: #d1ccc7;
      width:865px;
      height:243px;
      box-shadow: 0px 2px 4px black;
      border-radius: 0 0 10px 10px;
      background: -moz-linear-gradient(top, #f8f6f5 0%, #d7d2ce 100%);
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f8f6f5), color-stop(100%,#d7d2ce));
      background: -webkit-linear-gradient(top, #f8f6f5 0%,#d7d2ce 100%);
      background: -o-linear-gradient(top, #f8f6f5 0%,#d7d2ce 100%);
      background: -ms-linear-gradient(top, #f8f6f5 0%,#d7d2ce 100%);
      background: linear-gradient(to bottom, #f8f6f5 0%,#d7d2ce 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8f6f5', endColorstr='#d7d2ce',GradientType=0 );
      .border_news {
        width:865px;
        border-bottom: 5px #ff1d28 solid;
        border-top: 2px #972228 solid;
      }
      h1 {
        font-size: 24px;
        padding-left:10px;
        padding-top:12px;
        padding-bottom:9px;
      }
      ul {
        padding-left:10px;
        padding-top:15px;
        line-height:16px;


        li {
          float:left;
          margin-left:12px;

          a.hedr {
            text-decoration: none;
            height: 56px;
            display: block;
            width:207px;
            color:#1d3f68;
          }
          a.hedr:hover {
            text-decoration: underline;
          }
          img {
            display: inline-block;
            vertical-align: top;
          }
          p {
            display: inline-block;
            width:171px;
            padding-left:10px;
            margin-top:-3px;
          }

          .ref {
            display: inline;
            float:right;
            color: #491208;
            text-decoration: underline;
            padding-top:10px;
            padding-right:5px;
            font-style: italic;
          }
        }
        li:first-child {
          margin-left:0px;
        }
      }
    }
  }
}

.footer {
  clear:both;
  margin: 0 auto;
  /*width: 896px;*/
  margin-top:20px;
  & > div {
    width:10px;
    height: 143px;
    float:left;
  }
  .middle_wrap {
    width:865px;
    margin: 0 auto;
    height: 144px;
  }
  .left {
    background: url("/assets/layout/footer_left.png") no-repeat scroll left top transparent;
  }
  .middle {

    background: url("/assets/layout/footer_middle.png") repeat-x scroll left top transparent;
    /*width:874px;*/
    width:100%;
    .copyrights {
      width:414px;
      height:144px;
      float:left;

      ul, p {
        list-style:none;
        color: white;
        font-size:13px;
        margin-top:25px;
        margin-left:0px;
        li {
          padding: 0 14px;
          float:left;
          border-left: 1px white solid;
          a {
            color: white;
            font-size:13px;
          }
          a:hover {
            text-decoration: none;
          }

        }
        li:first-child {
          border-left: 0px white solid;
          padding-left:0;
        }
        li.last {
          padding-right:0;
        }
      }
      p {
        clear: both;
        margin-top:116px;
      }
  }
  .footer_logo {
    float:right;
    background: url("/assets/layout/footer_logo.png") no-repeat scroll 0 0 transparent;
    width:424px;
    height:144px;
    margin-right: 0px;
    position: relative;
    z-index: 10;
  }
  }
  .right {
    background: url("/assets/layout/footer_right.png") no-repeat scroll right top transparent;
  }
}