!!!
%html{:lang => "ru"}
  %head
    %title Albeef
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags

  %body
    .container
      .thin_red_line
        .left
        .middle
        .right
      .header
        .main_header
          .inside_block
            .top_part
              %a.logo{:href => "/"}
                %img{:src => "assets/layout/logo.png"}
              %ul.menu
                %li
                  %a{:href => "#"} О КОМПАНИИ
                %li.active
                  %a{:href => "#"} ПРОДУКЦИЯ
                %li
                  %a{:href => "#"} НОВОСТИ
                %li
                  %a{:href => "#"} ВАКАНСИИ
                %li.last
                  %a{:href => "#"} КОНТАКТЫ
            %img.slider{:src => "assets/layout/bulls.png"}
      .main
        = yield
      .footer
        .left
        .middle
          .copyrights
            %ul
              %li
                %a{:href => "javascript:void(0)"} О Компании
              %li
                %a{:href => "javascript:void(0)"} Продукция
              %li
                %a{:href => "javascript:void(0)"} Новости
              %li
                %a{:href => "javascript:void(0)"} Вакансии
              %li.last
                %a{:href => "javascript:void(0)"} Контакты
            %p &copy; 2012 ООО «АЛБИФ». Все права защищены.
          .footer_logo
        .right